body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-size:cover;
}
.MuiTypography-root {
  font-family: 'Poppins, sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}