html{
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#DDEBFF, #E4F8E4);
  /* background-color: rgb(228, 242, 255); */
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(228, 242, 255); */ 
  box-sizing: border-box;
  
}
.MuiTypography-root {
  font-family: 'Poppins, sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}