/* HIGH-RESOLUTION DESKTOP */
@media (min-width: 1200px) { /*For Desktop Users*/
    .NavBarContainer{
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }
    .StationButtonContainer{
        margin-left: 50px;
    }
    .StationButton{
        width: 170px;
        height: 41px;
        border-radius: 50px;
        border: none;
        background-color: rgba(0, 53, 134, 1);
        color:white;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.2s;
        margin-right: 30px;
    }
    .StationButton:hover{
        background-color: rgb(0, 42, 90);
        cursor: pointer;
    }
    .StationButtonContainerNA{
        background-color: white;
        color:rgba(0, 53, 134, 1);
        border: solid rgba(0, 53, 134, 1) 1px;
    }
    .StationButtonContainerNA:hover{
        background-color: rgb(0, 88, 189);
        color:white;
        cursor: pointer;
    }


    .GraphAndInfoContainer{
        display: grid;
        padding: 50px 50px 10px 50px;
        gap: 20px;
        grid-template-rows: 260px 700px;
    }
    .grid-item {
        display:flex ;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        border: solid rgba(158, 158, 158, 1) 1px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        border-radius: 25px;
        box-shadow: 0.6px 1.4px 2px #888888;
    }
    .item1 {
        grid-column: 1;
        grid-row: 1;
    }
    .pmInfo{
        font-size: 25px;
    }
    .aqiInfo{
        font-size: 40px;
        line-height: 1.4;
    }
    .item2 {
        grid-column: 2 / span 3;
        grid-row: 1;
    }
    .overAllInfo{
        font-size: 25px;
        text-align: left;
    }
    .item3 {
        grid-column: 1 / span 4;
        grid-row: 2;
    }
}




/* TABLET LANDSCAPE / DESKTOP */
@media (min-width: 1023px) and (max-width: 1199px) {
    .NavBarContainer{
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }
    .StationButtonContainer{
        margin-left: 50px;
    }
    .StationButton{
        width: 170px;
        height: 41px;
        border-radius: 50px;
        border: none;
        background-color: rgba(0, 53, 134, 1);
        color:white;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.2s;
        margin-right: 30px;
    }
    .StationButton:hover{
        background-color: rgb(0, 42, 90);
        cursor: pointer;
    }
    .StationButtonContainerNA{
        background-color: white;
        color:rgba(0, 53, 134, 1);
        border: solid rgba(0, 53, 134, 1) 1px;
    }
    .StationButtonContainerNA:hover{
        background-color: rgb(0, 88, 189);
        color:white;
        cursor: pointer;
    }


    .GraphAndInfoContainer{
        display: grid;
        padding: 50px 50px 10px 50px;
        gap: 20px;
        grid-template-rows: 260px 700px;
    }
    .grid-item {
        display:flex ;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        border: solid rgba(158, 158, 158, 1) 1px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        border-radius: 25px;
        box-shadow: 0.6px 1.4px 2px #888888;
    }
    .item1 {
        grid-column: 1;
        grid-row: 1;
    }
    .pmInfo{
        font-size: 15px;
    }
    .aqiInfo{
        font-size: 35px;
    }
    .overAllInfo{
        font-size: 20px;
        text-align: left;
    }
    .item2 {
        grid-column: 2 / span 3;
        grid-row: 1;
    }
    .item3 {
        grid-column: 1 / span 4;
        grid-row: 2;
    }
}




/* SMARTPHONES PORTRAIT */
@media (min-width: 300px) and (max-width: 479px){

}




/* SMARTPHONES LANDSCAPE */
@media (min-width: 480px) and (max-width: 765px){

}




/* TABLETS PORTRAIT */
@media (min-width: 766px) and (max-width: 1022px){

}